body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Calculator Body */
.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 800px;
    width: 550px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Calculator Screen */
.calculator-screen {
    background-color: white;
    height: 200px;
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Button Container */
.calculator-button-container {
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    width: 450px;
    gap: 5px;
}

/* Individual Buttons */
.button {
    font-size: 24px;
    flex: 1 1 24.15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Delete Icon */
.delete-icon {
    height: auto;
    width: 20px;
}

/* Backspace Icon */
.backspace-icon {
    height: auto;
    width: 20px;
}

/* Superscript Icon */
.superscript-icon {
    height: auto;
    width: 20px;
}

/* Division Icon */
.division-icon {
    height: auto;
    width: 20px;
}