body {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #98AAE9 5%, #F0B3BC 75%);
    background-repeat: no-repeat;
    padding-top: 125px;
    height: 100%;
    background-attachment: fixed;
}

.test {
    width: 300px;
    height: auto;
    position: absolute;
     left: -140px;
    top: -120px;
}

.invert { filter: invert(100%); }

.calculator-container {
    position: relative;
}

/* Calculator Body */
.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.15);
    border: solid 2px rgb(255, 255, 255, 0.25);
    /* height: 800px;
    width: 550px; */
    height: 500px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .1) -7px 3px 10px;
    backdrop-filter: blur(10px);
    padding: 1%;
}

/* Calculator Screen Container */
.calculator-screen {
    margin: 0% 2%;
    height: 34%;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: #fff6f9;
    font-family: 'Poppins', sans-serif;

}

.top-div {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 20px;
}

.bottom-div {
    width: 100%;
    height: 50%;
    justify-self: flex-end;
    /* font-size: 70px; */
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
}

/* Button Container */
.calc-btns{
    pointer-events:none;
    background-color: transparent;
    height: 60%;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.first-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Individual Buttons */
button {
    pointer-events: all;
    color: #fff6f9;
    border: none;
    cursor: pointer;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    color: #fff6f9;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 30px;
}

button:active {
    border-radius: 30px;
    box-shadow: 3px 4px rgb(255, 255, 255, 0.2);
    transform: translateY(4px);;
}

/* Clear Icon */
.clear img {
    height: auto;
    width: 20px;
}

/* Backspace Icon */
#delete img {
    height: auto;
    width: 45px;
    filter: invert(100%);
}

/* Superscript Icon */
#exponent img {
    height: auto;
    width: 20px;
    pointer-events:none;
}

/* Division Icon */
#divide img {
    height: auto;
    width: 20px;
    pointer-events:none;
}

/* Add Button */
#add {
    grid-row-start:4;
    grid-row-end: 6;
    grid-column-start: 4;
}

#add:hover {
    border-radius: 30px;
}

.divi {
    font-size: 24px;;
}

.info {
    margin-top: 10px;;
    font-family: 'Poppins', sans-serif;
    color: #fff6f9;
    font-size: 18px;
}

.name {
    color:rgb(230, 227, 227);
}

.name:hover {
    color: rgb(238, 238, 238);
}

.code-link {
    color: #fff6f9;
}

.code-link:hover {
    color:rgba(231, 231, 231);
}

.info a {
    text-decoration: none;
}
