body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Calculator Body */
.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 800px;
    width: 550px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Calculator Screen */
.calculator-screen {
    background-color: white;
    height: 200px;
    width: 410px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 5px 8px;
    display: flex;
    flex-direction: column;
}

.top-div {
    width: 100%;
    height: 100%;
    text-align: right;
}

.bottom-div {
    width: 100%;
    justify-self: flex-end;
    font-size: 42px;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
}

/* Button Container */
.calc-btns{
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    width: 450px;
    gap: 5px;
}

/* Individual Buttons */
button {
    border: none;
    cursor: pointer;
    font-size: 24px;
    flex: 1 1 24.15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
    cursor: pointer;
}

/* Clear Icon */
.clear img {
    height: auto;
    width: 20px;
}

/* Backspace Icon */
#delete img {
    height: auto;
    width: 20px;
}

/* Superscript Icon */
#exponent img {
    height: auto;
    width: 20px;
    pointer-events:none;
}

/* Division Icon */
#divide img {
    height: auto;
    width: 20px;
    pointer-events:none;
}

.exp, .divi {
    font-size: 0;
}